{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block context %}
    {% for item in task %}
<div class="card">
  <div class="card-body border">
    <div class="card-header">
        Задача
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.descriptions }}</p>
      <a href="#" class="btn btn-primary">Удалить задачу</a>
      {% if task %}
      <form action="{% url 'add_to_favorite' task_id=item.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Добавить в избранное</button>
      </form>
      {% endif %}
        <hr>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
